#carta {
  max-width: 90%;
  padding: 7%;
  align-items: center;
  background-image: url(img/fondo.gif);
  border-bottom-right-radius: 20%;
  border-top-left-radius: 10%;
  height: 9.5cm;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: rgba(0, 0, 255, 0.575);
  padding: 1%;
  margin-top: auto;
  margin-bottom: 0.5cm;
}



h5 {
  text-align: center;
  color: aliceblue;
  position: relative;
}

.Fondo_catalogo {
  background-color: rgba(75, 75, 75, 0.842);
  
}

.btn {
  background-color: rgba(0, 0, 255, 0.575);
  padding: 1%;
  margin-bottom: 10%;
}

h2 {
  padding-top: 2%;
}

#promocion-text {
  padding-left: 2%;
  padding-right: 2%;
  font-style: oblique;
  color: bisque;
}

#luffyxikito {
  max-width: 15%;
  position: absolute;
  padding-top: 5%;
  padding-left: 2%;
}

#chopperxikito {
  max-width: 20%;
  position: absolute;
  right: 1%;
  padding-top: 5%;
}

.card-price {
  text-align: center;
  color: white;
  font-weight: bold;
}
.card-title{
  margin: 1;
}

.card-title,
.card-price {
  margin-bottom: 10px;
}

.card-img-top {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

p{
  color: rgb(255, 255, 255);
}

h1{
  color: antiquewhite;
}

#titulopag{
font-family:Impact ;
}
/*carritoooooooooooooooo*/

#carritoText h1{
  display: flex;
  justify-content: flex-end;
}

#carritoText .card-body {
  margin-left: 20px;
}

#cardCarrito {
  margin-top: 20px; /* Ajusta el margen superior deseado */
  padding-inline: 10%;
}

.card-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-right: 20px;
  margin-top: 1%;
  padding: 1%;
}

.card-body {
  padding: 10px; /* Ajusta el padding deseado */
}
