/* Set the size of the div element that contains the map */
#map {
    height: 600px; /* The height is 400 pixels */
    width: 1000px; /* The width is the width of the web page */
    text-align:right ;
  }

  
  #barra{
    background-color: rgba(2, 1, 10, 0.937);
  }

  #Fondo_ubi{
    background-color: rgba(75, 75, 75, 0.842);
  }
  .nav-link {
    font-size: 25px;
    
  }
  a    {
    color:#ff6600; ;
  }

  #encabezado {
    background-color: #92715a;
    padding: 20px;
  }
  
  #encabezado a {
    color: #fff;
  }
  
  #encabezado a:hover {
    color: #ffffff;
  }
  
  #encabezado .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  #encabezado .buscador {
    margin-top: 10px;
  }

  
  .logo{
    margin-left: 1cm;
    width: 35%;
  }

  #logoFinal{
    max-width: 60%;
  }

  /*pieeeeeeeeeeeeeeeeeeeeeee*/
  #centrarPie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  #centrarPie img {
    margin-top: 10px;
  }

  #fotoubi img{
    max-width: 100%;
    margin-top: 3%;
    position: relative;
    padding-inline: 1%;
  }